#individual-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "individualmodal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    #inner-individual-modal
#individual-modal-edit.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "individualmodaledit", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    #inner-individual-modal-edit
