%br
.container-fluid
  .col-md-10.hidden-xs
    %h1 DECKS
  .col-md-2.hidden-xs
    = link_to new_individual_deck_path(@person), { remote: true, "data-toggle" => "modal", "data-target" => "#deckmodal"}  do
      .btn.btn-success.btn-raised
        New Deck
        = image_tag("card.png", width: "25")
  .visible-xs.col-xs-12
    %h1.centerize DECKS
  .visible-xs.col-xs-12
    .centerize
      = link_to new_individual_deck_path(@person), { remote: true, "data-toggle" => "modal", "data-target" => "#deckmodal"}  do
        .btn.btn-success.btn-raised
          New Deck
          = image_tag("card.png", width: "25")
.container-fluid
  %br
  #deckblock=render "decks"

=render "decks/deckmodal"