#investor-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "investormodal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    #inner-investor-modal
#investor-modal-edit.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "investormodaledit", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    #inner-investor-modal-edit
