@import url(http://fonts.googleapis.com/css?family=Roboto:300);

html * {
  font-family: 'Roboto', sans-serif;
}

.bigfont {
  font-size: 63px;
  font-weight: 700;
  color: white;
}

.fontcolwhite {
  color: white;
}