#deck-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "deckmodal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    #inner-deck-modal
#deck-modal-edit.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "deckmodaledit", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    #inner-deck-modal-edit
#deck-modal-show.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "deckmodalshow", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg.deckmodal
    #inner-deck-modal-show
#deck-modal-share.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "deckmodalshare", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    #inner-deck-modal-share
