.modal-content{style: "width:100%;"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h3.centerize#deck-modal.modal-title Edit Deck
  = render 'form'