.siliconbackground
  .container-fluid.padder
    .container
      %h1.centerize Who are you?
      <br>
      <br>
      .col-md-6
        .panel.panel-default
          .panel-body.moneybackground
            .centerize
              %h2 I am an
 
                
              
              =link_to new_individual_path, { remote: true, "data-toggle" => "modal", "data-target" => "#individualmodal"} do
                .btn.btn-primary.btn-lg
                  <br>
                  New Individual
                  <br><br>
      .col-md-6
        .panel.panel-default
          .panel-body
            .centerize
              %h2 I represent a


              %button.btn.btn-primary.btn-lg
                <br>
                Startup
                <br><br>

=render "/individuals/individualmodal"